.sumpTableContainer {
  container-name: sumpContainer;
  container-type: inline-size;
  width: 100%;
  overflow: hidden;
  min-width: 0;}

.sumpTable {
  width: 100%;
  border-collapse: collapse; 
  table-layout: fixed;
  margin: var(--space-md) 0;
  background-color: var(--menu-background);
  color: var(--menu-colour);
}

.sumpTableHeaderRow { 
  border-radius: var(--border-radius);
}

.sumpTableHeaderCell {
  border-radius: var(--border-radius);
  padding: 12px;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  background-color: oklch(from var(--menu-background) clamp(0, l + 0.2, 1) c h);
  color: oklch(from var(--menu-colour) clamp(0, l + 0.2, 1) c h);
}

.sumpTableCell {
  padding: 8px;
  border-bottom: 1px solid #444;
  text-align: center;
  font-family: monospace;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: normal; 
}
.sumpTableCell, .sumpTableHeaderCell {
  word-break: break-all;
}

.sumpTableRow:nth-child(even) {
  background-color: oklch(from var(--menu-background) clamp(0, l + 0.2, 1) c h); 
}

@container sumpContainer (width < 900px) {
  .sumpTableHeaderCell {
    color:green;
  }
}

