.sumpTableContainer {
  display: inline-block;
  container-name: sumpContainer;
  container-type: inline-size;
  width: 100%;
  height: auto;
  overflow-y: auto;
  max-width: 100%;
  min-width: 400px;
  border: none;
}

.sumpTable {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  background-color: var(--menu-background);
  color: var(--menu-colour);
}

.sumpTableHeader { 
  position: sticky;
  top: var(--controlBar-height);
  z-index: 10;
  border-radius: 0;
  height: var(--sumpTable__header-height);
}

.sumpTableHeaderCell1{
  font-size: 1vw;
}

.sumpTableCell {
  font-family: monospace;
  font-size: 2vw;
}

.sumpTableCell, .sumpTableHeaderCell {
  display: table-cell;
  letter-spacing: 1px;
  padding: 0px;
  text-align: center;
  white-space: normal;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: anywhere;
}
 
.sumpTableHeaderCell, .sumpTableHeaderCell1 {
  border-radius: 0;
  text-transform: uppercase;
  background-color: oklch(from var(--menu-background) clamp(0, l + 0.2, 1) c h);
  color: oklch(from var(--menu-colour) clamp(0, l + 0.2, 1) c h);
  font-size: 2vw;
}

.sumpTableRow:nth-child(odd) {
  background-color: oklch(from var(--menu-background) clamp(0, l + 0.2, 1) c h); 
}

.sumpTable .sumpTableCell {
  word-spacing: normal; 
  width: auto;          
  display: table-cell;
}

.sumpTable .sumpTableCell:first-child {
  width: min-content;    
  min-width: unset;       
  padding: 1px;            
  text-align: left;       
}

.sumpTable td:not(:first-child) {
  width: auto;
}

.sumpTableCell1{
  width: min-content;
}

.sumpTableHeaderRowTitles {
  font-size: 1vw;
}