/* Block: The main container or table itself */
.sumpTableContainer {
  container-type: inline-size;
  width: 100%;
}

.sump-table {
  width: 100%;
  border-collapse: colapse; 
  table-layout: fixed;
  margin: var(--space-md) 0;
  background-color: var(--menu-background);
  color: var(--menu-colour);
}

.sump-table th, .sump-table td {
  border-radius: var(--border-radius);
}

/* Element: Header area */
.sump-table__head {
  background-color: oklch(from var(--menu-background) clamp(0, l + 0.2, 1) c h);
  color: oklch(from var(--menu-colour) clamp(0, l + 0.2, 1) c h);
}

/* Element: Header cells */
.sump-table__header-cell {
  padding: 12px;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
}

/* Element: Standard data cells */
.sump-table__cell {
  padding: 8px;
  border-bottom: 1px solid #444;
  text-align: center;
  font-family: monospace; /* Good for raw data */
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

/* Element: Rows (for hover effects or zebra striping) */
.sump-table__row:nth-child(even) {
  background-color: oklch(from var(--menu-background) clamp(0, l + 0.2, 1) c h); /* Zebra striping for readability */
}

.sump-table__row:hover {
  background-color: #444; /* Interactive feel */
}

/* Element: Message (Loadi0ng/No Data) */
.sump-table__message {
  padding: var(--space-lg);
  font-style: italic;
}

@container (max-width: 500px) {

 .sump-table th, .sump-table__header-cell {
    font-size: 4px; /* Shrink text when the component gets tight */
    padding: 2px;
  }
}

