.sumpTableContainer {
  top: 0;
  display: inline-block;
  container-name: sumpContainer;
  container-type: inline-size;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  max-width: 100%;
  min-width: 400px;
  border: none;
}
@container sumpContainer(max-width:800px) {
  .sumpTableContainer {
    --sumpTable__header-font: 10cqw;
    --sumpTable__data-font: 10cqw;
    --sumpTable__header-smallFont: 8cqw; 
  }
  
}
.sumpTable {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  background-color: var(--menu-background);
  color: var(--menu-colour);
}

.sumpTableHeader { 
  top: var(--controlBar-height);
  z-index: 10;
  border-radius: 0;
  height: var(--sumpTable__header-height);
}

.sumpTableCell {
  font-family: monospace;
  font-size: var(--sumpTable__data-font);
}

.sumpTableCell, .sumpTableHeaderCell {
  display: table-cell;
  letter-spacing: 1px;
  padding: 0px;
  text-align: center;
  white-space: normal;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: anywhere;
}
 
.sumpTableRow:nth-child(odd) {
  background-color: var(--sumpTable__header-backgroundColour); 
}


[class^="sumpTableHeaderCellRow"], [class^="sumpTableHeaderCell1Row"], [class^="sumpTableHeaderCell2Row"] {
  position: sticky;
  z-index: 10;
  height: var(--sumpTable__headerRow-height);
  font-size: var(--sumpTable__header-font);
  background-color: var(--sumpTable__header-backgroundColour);
  color: var(--sumpTable__header-colour);
}

[class^="sumpTableHeaderCell1Row"] {
  border-radius: 0;
  text-transform: uppercase;
  font-size: var(--sumpTable__header-smallFont);
}
.sumpTableHeaderCellRow1, .sumpTableHeaderCell1Row1, .sumpTableHeaderCell2Row1 {
  top: var(--controlBar-height);
}
.sumpTableHeaderCell1Row1 {
  font-size: var(--sumpTable__header-smallFont);
} 
.sumpTableHeaderCellRow2, .sumpTableHeaderCell1Row2, .sumpTableHeaderCell2Row2  {
  top: calc( var(--sumpTable__headerRow-height) + var(--controlBar-height));
}
.sumpTableHeaderCellRow3, .sumpTableHeaderCell1Row3, .sumpTableHeaderCell2Row3  {
  top: calc( 2 * var(--sumpTable__headerRow-height) + var(--controlBar-height));
}
.sumpTableHeaderCellRow4, .sumpTableHeaderCell1Row4, .sumpTableHeaderCell2Row4  {
  top: calc( 3 * var(--sumpTable__headerRow-height) + var(--controlBar-height));
}

.sumpTable .sumpTableCell {
  word-spacing: normal; 
  width: auto;          
  display: table-cell;
}

.sumpTable .sumpTableCell:first-child {
  width: min-content;    
  min-width: unset;       
  padding: 1px;            
  text-align: left;       
}

.sumpTable td:not(:first-child) {
  width: auto;
}

.sumpTableCell1, [class^=".sumpTableHeaderCell1Row"] {
  width: min-content;
  font-size: var(--sumpTable__header-smallFont);
}
.sumpTableCell2{
  font-size: var(--sumpTable__data-font);
}
.sumpTableCell2,[class^="sumpTableHeaderCell2Row"] {
  width: 5vw;
}
.sumpTablePlaceholder{
  height: var(--sumpTable__header-height);
}


