.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.sump-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 80%;
}

.sump-table th, .sump-table td {
  border: 1px solid #00d1b2;
  padding: 10px;
}