/* App.css is for main page only, the basic layout of the page
Font family declarations.
CSS resets (margin: 0, padding: 0).
Global BEM variables (like --primary-color).
The main layout grid that holds the components together.

:root { ... }: All your shared BEM variables (colors, spacing, fonts).
CSS Resets: Basic rules for body or * (e.g., box-sizing: border-box, margin: 0).
Global Fonts: @import or font-family declarations for the whole app. 
.App can be the main layout of the page if it is just a 'wrapper class'

*/
:root {
  /* Colors */
  --main-background: oklch(96% 0.005 250);
  --main-colour: oklch(35% 0.02 250);

  --menu-colour: var(--main-colour);
  --menu-background: var(--main-background);
  /* Typography */
  --font-main: 'Inter', sans-serif;
  --font-size-base: 16px;

  /* Spacing */
  --spacing-sm: 2px;
  --spacing-md: 4px;
  --spacing-lg: 8px;

  /* BEM-specific Helpers */
  --border-radius: 1px;
  /* Control Bar needs */
  --controlBar-height: 10vw;
  /* sumpTable needs */
  --sumpTable__header-height: 10vw;
  --sumpTable__headerRow-height: 2vw;
  --sumpTable__header-font: 2vw;
  --sumpTable__header-smallFont: 1vw;
}

@media (prefers-color-scheme: dark) {
 :root{
    --menu-colour: var(--main-background);
    --menu-background: var(--main-colour);
  }
}

.App {
  text-align: center;
  background-color: var(--menu-background);
  min-height: 100vh;
  color: var(--menu-colour);
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}