.controlBar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: var(--controlBar-height); 
  background: rgba(44, 62, 80, 0.541);
}

.tableWrapper { 
  margin-top: var(--control-bar-height); 
  position: relative
}
.statsSummary {
  display: flex;
  gap: 20px;
  padding: 10px;
  background: #f8f9fa;
}

.brand {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* Ensure it fills the entire space */
  width: 30%;
  height: 100%;
 
  object-fit: cover;
  z-index: -1;
  font-size: 8cqw;
  text-align: center;
}

.selectedHours {
  position: absolute;
  top:50%;
  left:50%;
  right:30%;
  bottom: 25%;
  object-fit: cover;
  font-size: 2cqw;
  text-align: center;
}

.selectedHours :hover{
  background-color: rgba(211, 216, 221, 0.541);
  color: chartreuse;
}

.sidebarButton {
  position: absolute;
  top:50%;
  left:30%;
  right:50%;
  bottom: 25%;
  object-fit: cover;
  font-size: 2cqw;
}

.lastRun{
  position: absolute;
  top:0;
  left:30%;
  right:30%;
  bottom: 50%;
  object-fit: cover;
  font-size: 3cqw;
}

.controlBar .chartContainer1{
  position: absolute;
  top:0;
  left:70%;
  right:15%;
  bottom: 50%;
  object-fit: cover;
}
.controlBar .chartContainer2{
  position: absolute;
  top:0;
  left:85%;
  right:0%;
  bottom: 50%;
  object-fit: cover;
}
.controlBar .chartContainer3{
  position: absolute;
  top:50%;
  left:70%;
  right:15%;
  bottom: 0;
  object-fit: cover;
}
.controlBar .chartContainer4{
  position: absolute;
  top:50%; 
  left:85%;
  right:0;
  bottom: 0;
  object-fit: cover;
}