.controlBar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--controlBar-height); 
  background: rgba(44, 62, 80, 0.541);
}

.brand {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  object-fit: cover;
  z-index: -1;
  font-size: 8cqw;
  text-align: center;
}
.lastRun {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2cqw;
  border-bottom: 1px solid var(--menu-colour);
}
.buttonRow {
  flex: 1;
  display: flex;
}

.selectedHours :hover{
  background-color: rgba(211, 216, 221, 0.541);
  color: chartreuse;
}

.sidebarButton .selectedHours {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2cqw;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
}

.miniChartContainer {
  flex: 0 0 50%; /* Quadrant width */
  height: 50%;   /* Quadrant height */
  position: relative;
  margin: 0;
  padding: 0;    /* No padding for reference look */
  border-left: 1px solid var(--menu-colour);
  border-bottom: 1px solid var(--menu-colour);
  box-sizing: border-box;
  overflow: hidden;
  display: block;
}

.miniChartContainer canvas {
  width: 100% !important;
  height: 100% !important;
}

.lastRun{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3cqw;
}

.chart-watermark {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 3cqw; 
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0; 
  pointer-events: none; 
  user-select: none; 
}