.controlBar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--controlBar-height); 
  background: rgba(44, 62, 80, 0.541);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.brand {
  flex: 0 0 auto;
  object-fit: cover;
  z-index: -1;
  font-size: 8cqw;
  text-align: center;
  flex-basis: 30%;
}

.centerSection{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.lastRun {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2cqw;
  border-bottom: 1px solid var(--menu-colour);
}
.buttonRow {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebarButton .selectedHours {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 2cqw;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
  flex-basis: 50%;
}

.chartSection {
  flex: 0 0 50%; /* Quadrant width */
  height: 50%;   /* Quadrant height */
  position: relative;
  margin: 0;
  padding: 0;    /* No padding for reference look */
  border-left: 1px solid var(--menu-colour);
  border-bottom: 1px solid var(--menu-colour);
  box-sizing: border-box;
  overflow: hidden;
  display: block;
}

.chartContainer canvas {
  width: 100% !important;
  height: 100% !important;
}

.lastRun{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1cqw;
}

.chart-watermark {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 3cqw; 
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0; 
  pointer-events: none; 
  user-select: none; 
}