.sidebar {
  position: fixed;
  right: 100%; 
  top: var(--controlBar-height);
  width: 100%;
  height: calc(100% - var(--controlBar-height));
  background-color: var(--menu-background);
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar.open {
  right: 0; 
}
.sidebar-content {
  container-type: size;
  container-name: sidebarArea;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.sidebar [class^="chartContainer"] {
  flex: 1 0 50%;
  height: 50%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(120, 121, 120);
}

@container sidebarArea (max-width: 600px) {
  .sidebar [class^="chartContainer"] {
    flex-basis: 100%;
    height: 25%;
  }
}
