.sidebar {
  right: 100%; 
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--menu-background);
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 200;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.sidebar.open {
  right: 0; 
}
.sidebar-content {
  container-type: inline-size;
  container-name: sidebarArea;
  width: 100%;
  height: 100%;
  position: relative; 
}

.sidebar [class^="chartContainer"] {
  flex-basis: 50%;
  position: relative;
  box-sizing: border-box;
  height: 50%;
  border: 1px solid rgb(120, 121, 120);
  border-radius: 1px;
  margin: 5px;
}

@container sidebarArea (max-width: 600px) {
  .sidebar [class^="chartContainer"] {
    flex-basis: 100%
  }
}
