.sidebar {
  position: fixed;
  right: -75cqw; 
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--menu-background);
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 200;
}

.sidebar.open {
  right: 0; /* Slide in */
}

.sidebar .chartContainer1{
  position: absolute;
  top:0;
  left:0;
  right:50%;
  bottom: 50%;
  object-fit: cover;
}
.sidebar .chartContainer2{
  position: absolute;
  top:0;
  left:0;
  right:50%;
  bottom: 50%;
  object-fit: cover;
}
.sidebar .chartContainer3{
  position: absolute;
  top:50%;
  left:0%;
  right:50%;
  bottom: 0;
  object-fit: cover;
}
.sidebar .chartContainer4{
  position: absolute;
  top:50%; 
  left:50%;
  right:0;
  bottom: 0;
  object-fit: cover;
}

