.sidebar {
  position: fixed;
  right: 100%; 
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--menu-background);
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 200;
}

.sidebar.open {
  right: 0; /* Slide in */
}

/* Shared styles for all containers */
.sidebar [class^="chartContainer"] {
  position: absolute;
  object-fit: cover;
  border: 1px solid white;
}

/* Specific positioning */
.sidebar .chartContainer1 {
  top: 10vw;
  left: 0;
  right: 50%;
  bottom: calc(50% - 5vw);
}

.sidebar .chartContainer2 {
  top: 10vw;
  left: 50%;
  right: 0;
  bottom: calc(50% - 5vw);
}

.sidebar .chartContainer3 {
  top: calc(50% + 5vw);
  left: 0%;
  right: 50%;
  bottom: 0;
}

.sidebar .chartContainer4 {
  top: calc(50% + 5vw); 
  left: 50%;
  right: 0;
  bottom: 0;
}
