
.sidebar .chartContainer1{
  position: absolute;
  top:0;
  left:0;
  right:50%;
  bottom: 50%;
  object-fit: cover;
}
.sidebar .chartContainer2{
  position: absolute;
  top:0;
  left:0;
  right:50%;
  bottom: 50%;
  object-fit: cover;
}
.sidebar .chartContainer3{
  position: absolute;
  top:50%;
  left:0%;
  right:50%;
  bottom: 0;
  object-fit: cover;
}
.sidebar .chartContainer4{
  position: absolute;
  top:50%; 
  left:50%;
  right:0;
  bottom: 0;
  object-fit: cover;
}

