
.chartContainer1{
  position: absolute;
  top:0;
  left:70%;
  right:15%;
  bottom: 50%;
  object-fit: cover;
}
.chartContainer2{
  position: absolute;
  top:0;
  left:85%;
  right:0%;
  bottom: 50%;
  object-fit: cover;
}
.chartContainer3{
  position: absolute;
  top:50%;
  left:70%;
  right:15%;
  bottom: 0;
  object-fit: cover;
}
.chartContainer4{
  position: absolute;
  top:50%; 
  left:85%;
  right:0;
  bottom: 0;
  object-fit: cover;
}